@font-face {
   font-family: "Muller";
   src: url("../fonts/MullerBold.woff2") format("woff2"),
   url("../fonts/MullerBold.woff") format("woff");
   font-style: normal;
   font-weight: 700;
}

@font-face {
   font-family: "Muller";
   src: url("../fonts/MullerLight.woff2") format("woff2"),
   url("../fonts/MullerLight.woff") format("woff");
   font-style: normal;
   font-weight: 300;
}

@font-face {
   font-family: "Muller";
   src: url("../fonts/MullerMedium.woff2") format("woff2"),
   url("../fonts/MullerMedium.woff") format("woff");
   font-style: normal;
   font-weight: 500;
}

@font-face {
   font-family: "Muller";
   src: url("../fonts/MullerRegular.woff2") format("woff2"),
   url("../fonts/MullerRegular.woff") format("woff");
   font-style: normal;
   font-weight: 400;
}

html {
   box-sizing: border-box;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

a {
   color: inherit;
   text-decoration: none;
}

img {
   max-width: 100%;
}

body {
   min-width: 1200px;
   font-family: "Muller", sans-serif;
   font-style: normal;
   background: #E5E5E5;

}

.list-reset {
   margin: 0;
   padding: 0;
   list-style: none;
}

.flex {
   display: flex;
}

.container {
   width: 1200px;
   padding: 0 15px;
   margin: 0 auto;
}

.btn-reset {
   padding: 0;
   border: none;
   background-color: transparent;
   cursor: pointer;
}

.section-offset {
   padding-bottom: 70px;
}

.section-title {
   margin: 0;
   padding-left: 40px;
   margin-bottom: 20px;
   font-weight: normal;
   font-size: 40px;
   line-height: 40px;
   color: #333333;
}

/*HEADER*/

.header-main{
   align-items: center;
   margin-top: 30px;
   margin-bottom: 30px;
}

.logo {
   margin-right: 40px;
}

.header-number {
   font-weight: 500;
   font-size: 20px;
   line-height: 20px;
   color: #666;
   font-style: normal;
}

.header-address {
   font-style: normal;
}

.sign-in {
   margin-left: auto;
   font-size: 16px;
   line-height: 16px;
   color: #CC9933;
   padding-left: 28px;
   background-image: url('../img/sign-in-arrow.svg');
   background-size: 21px 12px;
   background-repeat: no-repeat;
   background-position: top left;
}

.header-menu {
   margin-bottom: 70px;
   background: #FFFFFF;
   border-radius: 15px;
}

.btn {
   font-size: 16px;
   line-height: 16px;
   color: #CC9933;
   padding: 13px 20px;
   border: 1px solid #CC9933;
   border-radius: 10px;
}

.header-btn {
   margin-left: auto;
}

.header-menu__list {
   padding: 27px 45px;
   align-items: center;
   flex-direction: row;
   border-right: 1px solid #E1E1E1;
}

.header-menu__item:not(:last-child) {
   margin-right: 45px;
}

.header-menu__item:last-child {
   margin-right: 10px;
}

.header-menu__btn {
   align-items: center;
   flex-direction: row;
   margin-left: auto;
   padding: 14px 45px;
}

.btn-take-tour {
   margin-right: 45px;
}

/*СПЕЦПРЕДЛОЖЕНИЯ*/


.special-offers-list {
   flex-direction: column;
   width: 573px;
}

.list-tours {
   flex-direction: column;
}

.list-tours:not(:last-child) {
   margin-bottom: 17px;
}

.list-tours-img-mal {
   background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url('../img/spec-ofers-mal.png');
   background-size: 573px 258px;
   background-position: center;
   background-repeat: no-repeat;
   border-radius: 15px;
}

.list-tours-img-krit {
   background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url('../img/spec-ofers-krit.png');
   background-size: 573px 258px;
   background-position: center;
   background-repeat: no-repeat;
   border-radius: 15px;
}

.list-tours-price {
   margin-left: 40px;
   margin-bottom: 47px;
   font-size: 20px;
   line-height: 20px;
   color: #FFFFFF;
   opacity: 0.8;
}

.list-tours-title {
   margin: 42px 0 15px 40px;
   max-width: 299px;
   font-size: 40px;
   line-height: 40px;
   color: #FFFFFF;
}

.link-more-detailed {
   font-size: 16px;
   line-height: 16px;
   color: #FFCC66;
   margin: 0 0 40px 40px;
   background-image: url('../img/arrow-more.svg');
   background-repeat: no-repeat;
   background-position: 92px center;
}

.suite-rooms {
   flex-direction: column;
   float: right;
   width: 573px;
   background-image: url('../img/spec-ofers-luc.jpg');
   background-repeat: no-repeat;
   background-size: 573px 540px;
   border-radius: 15px;
}

.list-tours-title-double {
   max-width: 299px;
   margin: 212px 0 15px 40px;
   font-weight: 700;
   font-size: 60px;
   line-height: 60px;
   color: #FFFFFF;
}

.list-tours-price-double {
   font-size: 30px;
   line-height: 30px;
   color: #FFFFFF;
   opacity: 0.8;
   margin-left: 40px;
   margin-bottom: 41px;
}

/*О НАС*/

.about-us-text {
   margin: 0;
   max-width: 888px;
   font-size: 16px;
   line-height: 200%;
   color: #000000;
}

/*УСЛУГИ*/

.services-list {
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
}

.services-item-bg1 {
   background-image: url('../img/services-1.jpg');
   background-repeat: no-repeat;
   background-position: top;
   background-size: 573px 165px;
}

.services-item-bg2 {
   background-image: url('../img/services-2.jpg');
   background-repeat: no-repeat;
   background-position: top;
   background-size: 573px 165px;
}

.services-item-bg3 {
   background-image: url('../img/services-3.jpg');
   background-repeat: no-repeat;
   background-position: top;
   background-size: 573px 165px;
}

.services-item-bg4 {
   background-image: url('../img/services-4.jpg');
   background-repeat: no-repeat;
   background-position: top;
   background-size: 573px 165px;
}

.services-item {
   width: 573px;
   flex-direction: column;
   background-color: #fff;
   border-radius: 15px;
   min-height: 330px;
   margin-bottom: 23px;
}

// .services-item:last-child {
//    margin-bottom: 0;
// }

// .services-item:not(:nth-child(2n)) {
//    margin-right: 23px;
// }

.services-item-title {
   display: inline-block;
   margin: 0;
   padding-right: 20px;
   margin-top: 191px;
   margin-left: 45px;
   font-family: Muller;
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   line-height: 200%;
   color: #CC9933;
   background-image: url('../img/arrow-more.svg');
   background-repeat: no-repeat;
   background-position: right;
}

.services-item-text {
   margin: 0;
   margin-left: 45px;
   margin-bottom: 50px;
   max-width: 402px;
   font-family: Muller;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 200%;
   color: #000000;
}

/*ПРИЕМУЩЕСТВА*/

.advantages-list {
   flex-wrap: wrap;
}

.advantages-item {
   width: 275px;
   margin-bottom: 23px;
   background: #FFFFFF;
   border-radius: 15px;
}

// .advantages-item:last-child {
//    margin-bottom: 0;
// }

.advantages-item:not(:nth-child(4n)) {
   margin-right: 23px;
}

.advantages-item-text {
   margin: 0;
   margin-left: 45px;
   padding-bottom: 26px;
   max-width: 188px;
   font-size: 16px;
   line-height: 200%;
   color: #000000;
}

.advantages-item-img {
   margin: 40px 0 10px 45px;
}

/*РАЗМЕЩЕНИЕ*/

.placement-list {
   flex-direction: row;
   flex-wrap: wrap;
}

.placement-item {
   flex-direction: column;
   justify-content: flex-end;
   max-width: 374px;
   max-height: 440px;
   margin-bottom: 23px;
   background: #FFFFFF;
   border-radius: 15px;
   overflow: hidden;
}

.placement-item:not(:nth-child(3n)) {
   margin-right: 23px;
}

.hotel-price {
   margin: 36px 0 16px 45px;
   // max-width: 150px;
   font-size: 16px;
   line-height: 16px;
   color: #999999;
}

.hitel-price-bold {
   font-size: 20px;
   line-height: 20px;
   color: #000;
}

.hotel-price-text {
   flex-direction: row;
   margin-right: 43px;
}

.star {
   margin-right: 6px;
}

.hotel-name {
   margin: 0;
   font-size: 16px;
   line-height: 16px;
   color: #000000;
   margin-left: 45px;
   margin-bottom: 16px;
}

.hotel-country {
   margin: 0;
   font-size: 16px;
   line-height: 16px;
   color: #999999;
   margin-left: 45px;
   margin-bottom: 20px;
}

.btn-show-hotel {
   max-width: 100px;
   margin-left: 45px;
   margin-bottom: 41px;
}

.placement-item__last {
   width: 373px;
   min-height: 440px;
   background-image: url('../img/placement-last.jpg');
   align-items: center;
}

.placement-item-last__text {
   width: 270px;
   background-image: url('../img/arrow-more-white.svg');
   background-repeat: no-repeat;
   background-position: right;
   font-weight: 500;
   font-size: 20px;
   line-height: 200%;
   color: #FFFFFF;
   padding-right: 50px;
   margin-bottom: 27px;
}

.rating {
   text-align: right;
}